.size-icon {
  font-size: 20px;
  display: block;
}

.size-check {
  /* width: 30px; */
  font-size: 50px;
}

.size-text {
  font-size: 13px;
}

.text-decoration-underline {
  text-decoration: underline;
}

.mt-center {
  display: flex;
  align-items: center;
}

.vertical-scroll {
  height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
